html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}
.legend {
    line-height: 18px;
    color: #ff7800;
    
}
.info.legend {
	background: white !important;
    padding: 8px;
    border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
